*{
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  box-sizing: border-box;
}
header{
  display: flex;
  width: 100%;
}
header .navbar{
  display: flex;
  width: 100%;
  background-color: #1a1a1a;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  justify-items: center;

}
header > .navbar > ul.menu{
  display: inline-block;

  width: 100%;
  text-align: right;
  position: relative;
  padding: 19px 39px;
  margin-right: 55px;
}
header > .navbar > ul.menu > li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
header > .navbar > ul.menu > li.dropdown{

  position: relative;
}

 .btndrop{
  background-color: #3498DB;
  color: #fff;
  padding: 15px;
  border: aliceblue;
  border-radius: 35px;
  cursor: pointer;
}
 .btndrop:hover, .btndrop:focus{
  background-color: #010b12;
 
  
}
.btndrop{
  background-color: #3498DB;

}
 .menu-dropdown{
 background-color: #1a1a1a;
  position: absolute;
  z-index: 1;
  display: none;

}

li a{
 color: #fff;
 text-decoration: none;
 display: block;
}
header > .navbar > ul.menu > li a:hover{
  background-color: #010b12;
 }
 .show{
  display: block;
  margin-top: 4px;
  font-size: 22px;
 }